
<meta charset="UTF-8">
<title>Kenneth</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> 
    <link rel="stylesheet" href="/public/bootstrap.min.css" /> 
    <script src="/public/bootstrap.min.js"></script>
  